{% extends '::base.html.twig' %}

{% block container %}
    <h1>TUsers creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tusers') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
